.tableOrder{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    width: 1450px;
}
.tableOrder .titleCol{
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    width: 1400px;
}
.tableOrder .subtitleCol p{
    margin: 0;
}
.tableOrder .subtitleCol {
    border-bottom: 3px solid #000;
    width: 1400px;
    background-color: #0069e6;
    color: white;
    height: 40px
}
.tableOrder .subtitleCol p{
    display: flex;
    align-items:center;
    justify-content:center
}
.tableOrder  #infoOpen{
    height: 50px;
    width: 200px;
}
.tableOrder .item-food{
    width: 1340px;
    padding: 10px 20px 0px;
    border-bottom: 1px solid black;
    display: flex;
    height: 170px;
    cursor: pointer;
}
.tableOrder .nav-menu-info.active {
    display:flex;
    opacity: 1;
    background-color: #fff;
    transition: all 0.5s ease;
    box-shadow: 2px 5px 5px grey;
    margin-top: 10px;
}
.tableOrder .nav-menu-info {
    display: none;
    width: 1400px;
    height: 400px;
}
.tableOrder .info-order{
    width: 100%;
    height: 100%;
}
.tableOrder .ratingClose{
    display: none;
}

.tableOrder .rateContent p{
    margin: 0;
}
.tableOrder .rateContent #rateImgStar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tableOrder .rateContent #rateImgStar img{
    height: auto;
    width: 150px;
}
.tableOrder .ratingClose{
    display: none;
}
.tableOrder .ratingOpen{
    margin-left: 20px;
    margin-top: 10px;
    width: 520px;
    height: 150px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
}
.tableOrder .ratingOpen p{
    margin: 0;
}
.tableOrder .ratingOpen #ratingCmt input{
    width: 280px;
    font-size: 14px;
    text-align: center;
}
.tableOrder .item-order .btn-view-order p{
    height: 30px;
    padding-top: 5px;
    background-color: rgb(83, 202, 83);
    color: black;
    width: 150px;
    text-align: center;
    margin: 0;
    border-radius: 10px;
}
.tableOrder .item-order .btn-view-order p:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
}
.tableOrder .item-order .btn-view-order{
    height: 40px;
    padding-top: 10px;
}
.tableOrder #ratingCmt textarea{
    height: 100px;
    border: 1px dashed #000; 
    border-radius: 10px;
    width: 250px;
}

.tableOrder .ratingOpen button {
    width: 60px;
    height: 30px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    border-radius: 25px;
    color: #f4f4f4;
    margin-top: 10px;
}

.tableOrder .ratingOpen .btn-save {
    display: none;
}
.tableOrder .ratingOpen .btn-save.active {
    display: inline-block;
}
.tableOrder .ratingOpen #save-btn {    
    background-color: #44bebe;
    margin-left: 10px;
}
.tableOrder .ratingOpen  #cancel-btn {
    background-color: #C4C4C4;
    margin-left: 10px;
}