.list-order {
    background-color: grey;
    height: 600px !important;
    width: 1250px !important;
    margin-left: 250px;
    margin-top: 100px;
}
.list-order p{
    margin: 0;
}
/* name Column */
.list-order .nameCol {
    display: flex;
    height: 50px;
    border-bottom: 3px solid black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
}
.list-order .nameCol p{
    padding-top: 20px;
}
/* item Order */
.list-order .item-order{
    display: flex;
    height: 50px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.item-order p{
    margin: 0;
    padding-top: 20px;
}
.item-order .idOrder{
    font-weight: bold;
}
.item-order .col-date{
    font-size: 20px;
    width: 200px;
}
/* btn-state-order */
.btn-state-order{
    height: 30px;
    padding-left: 20px;
    padding-top: 10px;
}

.btn-state-order #btn-new{
    width: 200px;
    background-color: red;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    padding-top: 5px;
    cursor: pointer;
}
.btn-state-order #btn-recv{
    width: 200px;
    background-color: blue;
    height: 100%;
    text-align: center;
    margin-left: 20px;
    border-radius: 15px;
    padding-top: 5px;
    cursor: pointer;
}