
#ratingResCpn #row2 #ratingCmt textarea[type="text"]::placeholder{
    text-align: center;
    font-size: 20px;
}
#ratingResCpn #row2 #ratingStar .css-jue3ft-MuiRating-root{
    font-size: 80px;
}
#ratingResCpn #row2 #ratingStar .css-d0uhtl{
    font-size: 30px;
    margin-left: 150px;
    font-weight: bold;
    width: 200px;
}

#ratingFoodCpn #row2 #ratingStar .css-jue3ft-MuiRating-root{
    font-size: 30px;
}
#ratingFoodCpn #row2 #ratingStar .css-d0uhtl{
    font-size: 14px;
    padding-left: 30px;
    font-weight: bold;
}
/* Prerating */
.rating .opt-res{
    height: 30px;
    width: 250px;
    background-color: red;
    font-size: 24px;
    color: white;
    text-align: center;
    border-radius: 15px;
}
.rating .opt-food{
    height: 30px;
    width: 250px;
    background-color: blue;
    font-size: 24px;
    color: white;
    margin-left: 20px;
    text-align: center;
    border-radius: 15px;
}
.rating{
    height: 610px;
    width: 1450px;
    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0px #00000040;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
}
.rating .btn-opt{
    display: flex;
    padding-top: 10px;
    padding-left: 20px
}
