.tableRes .titleCol{
    display: flex;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 3px solid #000;
    
}
.tableRes .itemRes{
    display: flex;
    width: 60%;
    padding-top: 20px;
}
.tableRes{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.tableRes .itemRes .nameRes{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.tableRes .itemRes .addressRes{
    font-size: 30px;
}
.tableRes .rateContent p{
    margin: 0;
}
.tableRes .rateContent #rateImgStar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tableRes .rateContent #rateScore{
    font-size: 30px;
}
.tableRes .rateContent #totalRate{
    font-size: 30px;
}

.tableRes .ratingClose{
    display: none;
}
.tableRes .ratingOpen{
    margin-left: 20px;
    margin-top: 20px;
    width: 470px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px  #00000050;
}
.tableRes .ratingOpen p{
    margin: 0;
    font-size: 30px;
    line-height: 60px
}
.tableRes .ratingOpen #ratingCmt textarea{
    padding: 20px;
    box-sizing: border-box;
    height: 200px;
    width: 430px;
    border: 1px dashed #000; 
    border-radius: 10px;
    font-size: 20px;
}
.tableRes .ratingOpen #ratingCmt{
    margin-left: 10px;
    height: 200px;
}
.tableRes .ratingOpen button {
    width: 120px;
    height: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    border-radius: 25px;
    color: #000000;
    margin-top: 10px;
    background-color: red;
}

.tableRes .ratingOpen .btn-save {
    display: none;
}
.tableRes .ratingOpen .btn-save.active {
    display: inline-block;
}
.tableRes .ratingOpen #save-btn {    
    background-color: #44bebe;
    margin-left: 80px;
}
.tableRes .ratingOpen  #cancel-btn {
    background-color: #C4C4C4;
    margin-left: 40px;
}