@import url("https://fonts.googleapis.com/css2?family=Barlow");

* {
    font-family: "Barlow", sans-serif;
}
.container {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.topbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 30px 0;
}
.topbarLabel {
    font-size: 40px;
    font-weight: 900;
    color: black;
    padding-left: 2%;
}
.topbarInput {
    width: 55%;
    /* padding: 1px; */
    border: none;
    margin-right: 3%;
    border-radius: 10px;
    font-size: 20px;
}

.filter {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* margin-bottom: 10px; */
    justify-content: space-between;
}

.btn.category {
    border: none;
    color: black;
    background-color: white;
    min-width: 200px;
    /* text-overflow: ellipsis; */
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    margin-bottom: 12px;
}
.btn.category:hover {
    background-color: #2685f8;
    color: white;
}

.foodsList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: space-around;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    width: 350px;
    height: 270px;
    padding: 5px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    /* margin-left: 15px; */
    justify-content: space-between;
}

.itemContainer.itemContainer1 {
    align-items: center;
    justify-content: center;
    background-color: white;
}

.itemIcon {
    font-size: 70px;
    color: #1976d2;
    cursor: pointer;
}
.itemIcon:hover {
    color: #1976a1;
}
.addItemLabel {
    font-size: 25px;
    font-weight: 600;
    color: #1976d2;
}

.itemBody {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-bottom: 10px;
}

.itemPic {
    width: 175px;
    height: 200px;
    border-radius: 10px;
}
.itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 145px;
    height: 100%;
}
.itemName {
    /* text-align: center; */
    /* text-overflow:ellipsis ; */

    font-size: 25px;
    font-weight: 600;
}
.itemCharInfo {
    color: rgb(110, 110, 110);
}
.itemLabelInfo {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.itemPrice {
    color: blue;
    font-size: 25px;
    /* text-align:center */
}

.btn1 {
    background-color: turquoise;
}

.popupContainer {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    align-self: center;
    min-width: 680px;
    min-height: 380px;
    background-color: rgb(226, 235, 236);
    border-radius: 50px;
    text-overflow: clip;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 8px rgb(158, 158, 158);
    padding: 10px;
    flex-wrap: wrap;
}

.popupHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 20px;
}

.popupHeaderLabel {
    font-size: 25px;
    font-weight: 600;
    line-height: 0px;
}

.btn.popupHeaderButton {
    border: none;
    background-color: inherit;
    font-size: 30px !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    color: blue;
    padding: 0px;
}
.btn.popupHeaderButton span {
    width: fit-content;
    height: fit-content;
}
.popupHeaderButton:hover {
    color: red;
}

.popupBody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popupBodyPicture {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.popupBodyPicturePic {
    width: 190px;
    height: 200px;
    border-radius: 10px;
}

.btn.popupBodyPictureButton {
    min-width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: #1976d2;
    margin: 10px 0;
    padding: 0px;
    font-size: 24px;
    color: white;
}
.btn.popupBodyPictureButton:hover {
    background-color: #2288ee;
}

.popupBodyInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 15px;
}

.popupBodyInfoForm {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.popupBodyInfoFormEle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popupBodyInfoFormEleLabel {
    font-size: 22px;
    margin-right: 20px;
}

.popupBodyInfoFormEleInput {
    min-width: 300px;
    padding: 9px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.popupBodyInfoCheck {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.popupBodyInfoCheckName {
    font-size: 22px;
}

.popupBodyInfoCheckBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 18%;
}

.popupBodyInfoCheckLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

/* Hide the browser's default radio button */
.popupBodyInfoCheckLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.popupBodyInfoCheckLabelName {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.popupBodyInfoCheckLabel:hover input ~ .popupBodyInfoCheckLabelName {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.popupBodyInfoCheckLabel input:checked ~ .popupBodyInfoCheckLabelName {
    background-color: #0468b9;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.popupBodyInfoCheckLabelName:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.popupBodyInfoCheckLabel input:checked ~ .popupBodyInfoCheckLabelName:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.popupBodyInfoCheckLabel .popupBodyInfoCheckLabelName:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.popupFooter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn.btn2 {
    background-color: rgb(228, 100, 100);
    color: white;
    border-radius: 7px;
}
.btn.btn2:hover {
    background-color: rgb(196, 13, 13);
    /* color: rgb(0, 0, 0); */
}
.btn.btn3 {
    background-color: #1976d2;
    color: white;
    border-radius: 7px;
}
.btn.btn3:hover {
    background-color: #2288ee;
}
.searchIcon {
    height: 20px;
    width: 20px;
    top: 5px;
    left: -35px;
    position: relative;
}
.searchBar {
    border-radius: 20px;
    border: 1px solid black;
    padding: 0px 20px;
    box-sizing: border-box;
    border: none;
    font-size: 22px;
    min-width: 800px;
}
/* .backdrop{
    background-color:#00000050;
    width: 200vw;
    height: 200vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
} */