* {
    font-family: Roboto;
}
.Login {
    background-color: red;
    height: 100%;
}

.LoginForm {
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 10px 30px;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: white;
    padding: 1rem;
    width: 26rem;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.LoginForm h1 {
    width: 100%;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    /* line-height: 40px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    background-color: #00000000;
    color: #000;
}

.LoginForm .field {
    /* background-color: rgba(255, 77, 77, 0.788); */
    margin: 10px 0px;
    width: 100%;
    display: block;
    position: relative;
}

.col {
    width: auto;
    display: inline-block;
}

/* .switchForget {
    position: absolute;
    width: auto;
    right: 0%;
    top: 0%;
} */

.field.btn button {
    width: 60%;
    height: 50px;
    background: #0069e6;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
    border: none;

    color: #ffffff;
}
.field.btn button:hover {
    background: #005fd3;
}
.field.btn button:active {
    background: #003e8a;
}

.logContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.LoginForm .field Input {
    width: 100%;
    height: 50px;
    font-size: 14px;
    background: #ebebeb;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 19px;
}

.row {
    margin: auto;
    width: auto;
}

.ask {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ask * {
    text-align: center;
    /* margin: auto; */
}

button.linkbutton {
    /* display: inline; */
    background-color: #ffffff00;
    color: blue;
    height: fit-content;
    width: fit-content;
    vertical-align: top;
    margin: 0px 5px;
    font-size: 17px;
    align-items: center;
    border: none;
    text-decoration: none;
}
button.linkbutton:hover{
    color: #030377;
}
/* button.switchForget{
    
} */
.LoginForm label {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    margin: 5px 0px;
    color: #000000;
}

div .LoginForm .field .col {
    right: 0%;
    display: inline-block;
    width: 40%;
}

.LoginForm .field {
    margin: 10px auto;
    align-items: center;
}

.field.btn{
    display: flex;
    justify-content:center;
}

div .LoginForm .field.change {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    /* background-color:red; */
    border-radius: 15px;
    box-shadow: 0px 10px 30px 10px #00000093;
    background-color: white;
}
.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(209, 66, 66);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.closeBtn:hover {
    background-color: rgb(179, 28, 28);
    cursor: pointer;
}
.closeBtn:active {
    background-color: rgb(134, 14, 14);
    cursor: pointer;
}
.closeBtn span {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
}
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    width: 80%;
}
